.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  &__top {
    margin-bottom: 50px;
    text-align: center;

    &__h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1px;
      opacity: 0.5;
    }

  }

  &__register-link {
    text-align: center;
    display: block;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #ADADAD;
  }

  &__success-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    svg {
      width: 48px;
      height: 48px;
    }

    h2 {
      margin-top: 10px;
    }

    p {
      color: #adadad;
    }
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 100%;

  }

  .whiteBlock {
    width: 430px;
    text-align: end;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace, "Rage Italic";
    font-style: italic;
  }

  .input-feedback {
    color: red;
      -webkit-animation: blink 2s linear infinite;
      animation: blink 2s linear infinite;

    @-webkit-keyframes blink {
       50% { color: white; }
       51% { color: indianred; }
       100% { color: red; }
     }
    @keyframes blink {
      50% { color: white; }
      51% { color: indianred; }
      100% { color: red; }
    }
  }

}
