@import "~styles/variables";

.message {
  $self: &;

  display: flex;
  max-width: 440px;
  margin-bottom: 15px;

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    img {
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 23px;
      border-radius: 50%;
    }
  }

  &__bubble {
    background: $blue;
    border-radius: 12px 12px 12px 0;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    padding: 15px;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
       img {
         margin-right: 0;
         margin-left: 13px;
       }
     }

    #{$self}__info {
      display: flex;
      align-items: center;
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
      }
    }
  }

}
